.body {
    font-family: 'Roboto', sans-serif;
}

.container-back {
    min-height: 100vh;
    background-image: url("../img/background.png");
}

.title-breakfast {
    color: #FFFFFF;
    font-family: 'Cherry Swash', cursive;
}

.logo-small {
    width: 80%;
}

.inputs-ingreso {
    background-color: rgba(253, 250, 253, 0.7);
}

.btn-breakfast {
    width: 48%;
    height: 50px;
    color: #211717;
    background-color: #F58B54;
}

.title-pedido {
    background-color: #A34A28;
}

.border-pedido {
    color: #FFFFFF;
    height: 60px;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}

.table-pedido {
    background-color: rgba(253, 250, 253, 0.7);
}

.btn-enviar {
    background-color: #211717;
    color: #FFFFFF;
    width: 50%;
}