.titles-lunch {
    color: #FFFFFF;
}

.btn-lunch {
    background-color: #F58B54;
    color: #211717;
    width: 48%;
    height: 50x;
}

.btn-hamburguesas {
    background-color: #F58B54;
    color: #211717;
    width: 40%;
}